.fivthLab {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__inner {
    padding: 20px 0;
    width: 62.5vw;
    min-height: 80vh;
  }
  &__rem {
    overflow: auto;
    width: 30rem;
    height: 10rem;
    background-color:aliceblue;
    & p {
      margin-top: 4%;
      font-size: 24px;
      width: 10em;
      height: 5em;
      background-color: aquamarine;
    }
  }
}
.fivthLab__main {
    margin: 0 auto;
    min-width: 5%;
    background-color: #E2DDFB;
}

.fivthLab__gray {
  overflow: auto;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: gray;
  & section {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-left: 10px;
    margin-top: 20px;
  }
  & article {
    background-color: green;
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
    margin-right: -20px;
    text-align: center;
  }
}
.fivthLab__image {
  position: relative;
  img {
  }
  h4 {
    position: absolute;
    top: 50%;
    left: 4%;
    color: white;
  }
  button {
    position: absolute;
    display: block;
    top: 50%;
    left: 5%;
  }
}

.lastone {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgage__wrap {
  position: relative;
  width: 50%;
  height: 200px;
  background-image: 
    linear-gradient(to top, rgba(162, 0, 255, 0.8), rgba(162,0,255,0.8)),
    url(https://fikiwiki.com/uploads/posts/2022-02/1645052344_10-fikiwiki-com-p-kartinki-na-zadnii-fon-11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn_txt {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
}
h5 {
  color: white;
}